.container {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.selectionPanel,
.dropPanel {
    flex: 1;
    /* border: 1px solid var(--soft-jade-green); */
    border-radius: 8px;
    padding: 0 20px;
    background-color: var(--muted-dark-gray);
    overflow-y: auto;
    height: 100%;
    min-width: 250px;
    /* max-height: 80vh; */
}

.selectionPanel h2,
.dropPanel h2 {
    margin-bottom: 10px;
    color: var(--gold);
}

.dungeonList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dungeonItem {
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.dungeonItem:hover {
    transform: scale(1.05);
}

.dungeon {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-size: 120%;
    height: 75px;
    padding: 0 10px;
    background-position: center;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.dungeonName {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
}

.placeholder {
    color: var(--light-gold);
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}
